@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

:root {
    --theme: #F05454;
    /* --hover: #30475E; */
    --hover: #252525;
    --bg: #E8F9FD;
    --test: #122D4B;
}

.navbar {
    /* background: red; */
    position: fixed;
    width: 5%;
    margin: 50px 0 0 30px;
    padding: 10px;
    top: 100px;
    z-index: 1;
    display: inline-block;
    z-index: 100;
}

.navbar.arabic {
    margin: 50px 30px 0 0;

}

.navbar ul {
    background: var(--theme);
    margin: 0;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 40px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.navbar ul li {
    list-style: none;
    margin: auto;
    cursor: pointer;
}


.navbar ul li icon {
    color: white;
    font-size: 25px;
    transition: all 0.3s;
}

.navbar ul li a {
    text-decoration: none;
}

.navbar ul li:hover icon {
    font-size: 30px;
    /* transform: scale(1.1); */
    background: var(--hover);
    padding: 13px;
    margin: auto;
    border-radius: 50px;
    position: relative;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;

}

.navbar ul li:hover icon::after {
    position: absolute;
    background: var(--hover);
    border-radius: 30px;
    padding: 0 10px;
    top: 15px;
    font-size: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.navbar ul li:hover:nth-child(4) icon {
    font-size: 28px;
}


.navbar ul li:hover:nth-child(1) icon::after {
    content: "Home";
}

.navbar ul li:hover:nth-child(2) icon::after {
    content: "Services";
}

.navbar ul li:hover:nth-child(3) icon::after {
    content: "Gallery";
}

.navbar ul li:hover:nth-child(4) icon::after {
    content: "English";

}

.navbar.arabic ul li:hover:nth-child(1) icon::after {
    content: "الصفحة الرئيسية";
    width: max-content;

}

.navbar.arabic ul li:hover:nth-child(2) icon::after {
    content: "خدماتنا";
    width: max-content;
}

.navbar.arabic ul li:hover:nth-child(3) icon::after {
    content: "المعرض";
    width: max-content;

}

.navbar.arabic ul li:hover:nth-child(4) icon::after {
    content: "عربي";
    width: max-content;

    /* display: none; */
}





@media screen and (max-width: 900px) {
    .navbar {
        width: 90%;
        margin: 0 auto 0 auto;
        box-sizing: border-box;
        padding: 0;
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
    }

    .navbar.arabic {
        width: 90%;
        margin: 0 auto 0 auto;
        box-sizing: border-box;
        padding: 0;
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
    }


    .navbar ul {
        flex-direction: row;
        height: 30px;
        border-radius: 0;
        padding-top: 5px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .navbar ul li:hover icon::after {
        display: none;
    }

    .navbar ul li:hover icon {
        font-size: 23px;
        background: none;
        padding: 0;
        margin: 0;
        border-radius: none;
        position: relative;
        box-shadow: none;

    }

    .navbar ul li icon::after {
        display: flex;
        justify-content: center;
        font-size: 8px;
        text-align: center;
    }

    .navbar ul li:hover:nth-child(4) icon {
        font-size: 23px;
        background: none;
    }

    .navbar ul li:nth-child(1) icon::after {
        content: "Home";
    }

    .navbar ul li:nth-child(2) icon::after {
        content: "Services";
    }

    .navbar ul li:nth-child(3) icon::after {
        content: "Gallery";
    }

    .navbar ul li:nth-child(4) icon::after {
        content: "English";
    }

    .navbar.arabic ul li:nth-child(1) icon::after {
        content: "الصفحة الرئيسية";
        width: max-content;

    }

    .navbar.arabic ul li:nth-child(2) icon::after {
        content: "خدماتنا";
        width: max-content;
    }

    .navbar.arabic ul li:nth-child(3) icon::after {
        content: "المعرض";
        width: max-content;

    }

    .navbar.arabic ul li:nth-child(4) icon::after {
        content: "عربي";
    }
}