 <div class="slides slowFade">
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />

                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                    </div>


                    <div class="slides slowFade">
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />

                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />

                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                    </div>


                    <div class="slides slowFade">
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />

                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />

                        </div>
                        <div class="slide">
                            <img src={languageText.upcomingEventImg2} alt="" />
                        </div>
                    </div>